/*
* @Author: yang fangtao
* @Date:   2018-08-06 19:00:08
* @Last Modified by:   famensaodiseng
* @Last Modified time: 2018-08-06 20:15:04
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:hover {
	color: 666;
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}
body {
	font-family: "微软雅黑";
	font-size: 13px;
}
input {
	outline: none;
	border: none;
	border: 1px solid #000;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.m_left10 {
	margin-left: 10px;
}
.m_top10 {
	margin-top: 10px;
}
.clearfix:before,
.clearfix:after {
	content: "";
	height: 0;
	line-height: 0px;
	clear: both;
	display: table;
	visibility: hidden;
}




