/*
* @Author: yang fangtao
* @Date:   2018-08-06 20:37:22
* @Last Modified by:   famensaodiseng
* @Last Modified time: 2018-08-06 21:16:53
*/

.jd_layout {
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #ccc;
    height: 1000px;
}

.jd_search {
    width: 100%;
    height: 40px;
    max-width: 640px;
    position: fixed;
    background-color: #e92422;
    padding-left: 76px;
    padding-right: 50px;
    z-index: 2;
}

.jd_logo {
    width: 56px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 5px;
    background: url(../images/jd-sprites.png) no-repeat 0 -108px;
    background-size: 200px 200px;
}

.jd_login {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    color: #fff;
}

.jd_searchBox {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border: none;
}

.jd_searchBox {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    border-radius: 15px;
    position: relative;
    color: #666;
}

.jd_logo::before {
    content: "";
    width: 27px;
    height: 23px;
    position: absolute;
    background: url(../images/jd-sprites.png) no-repeat -56px -108px;
    z-index: 2;
    left: 70px;
    top: 5px;
    background-size: 200px 200px
}
.jd_banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.jd_bannerImg {
    width: 800%;
}
.jd_bannerImg >li {
    width: 12.5%;
    float: left;
}
.jd_bannerImg>li img {
    width: 100%;
    vertical-align: middle;
}
.jd_bannerIndicator {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}
.jd_bannerIndicator li {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    float: left;
    margin-left: 8px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
}
.jd_bannerIndicator li.active {
    background-color:white;
}
.jd_nav {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
}
.jd_nav li {
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 5px;
}
.jd_nav li img {
    width: 60px;
}
.jd_nav li p {
    line-height: 25px;
}
/* 产品块  */
.jd_product {
    width: 100%;
}
.jd_productBox {
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
}
.jd_productBox > .jd_Tip {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #000;
    color:#666;
    /* position: relative; */
}
.jd_productBox>.jd_Tip>h3 {
    position: relative;
}
.jd_productBox>.jd_Tip >h3::before {
    content: "";
    width: 3px;
    height: 10px;
    background-color: #e92422;
    position: absolute;
    left: 0;
    top: 0;
}