<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
     <script src='lib/vue-2.4.0.js'></script>
</head>
<body>
    <div id='app'> 
       <input type="text" v-model="n1" >
       <select name="" id="" v-model="opt">
           <option value="+">+</option>
           <option value="-">-</option>
           <option value="*">*</option>
           <option value="/">/</option>
       </select>
       <input type="text" v-model="n2">  
       <input type="button" value="=" @click="res">
       <input type="text" v-model="result">
    </div>
<script>
    var vm = new Vue({
    el: '#app',
    data: {
        n1:" ",
        n2:" ",
        result:0,
        opt:"*"
    },
    methods: {
        res() {
            // switch (this.opt) {
            //     case "+":
            //     this.result = parseInt(this.n1)+parseInt(this.n2);
            //         break;
            //     case "-":
            //         this.result = parseInt(this.n1)-parseInt(this.n2);
            //         break;
            //     case "*":
            //         this.result = parseInt(this.n1)*parseInt(this.n2);
            //         break;
            //     case "/":
            //         this.result = parseInt(this.n1)/parseInt(this.n2);
            //         break;

            // }
            var codeStr = 'parseInt(this.n1)'+ this.opt+'parseInt(this.n2)';
            this.result  = eval(codeStr);
        }
    }
}) 
</script>
</body>
</html>