
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {margin:0;padding:0;-webkit-text-size-adjust: none}
h1, h2, h3, h4, h5, h6{font-size:12px;font-weight:normal}

/* 效果CSS开始 */

.web { width: 985px; height: 300px; background: #cb5412; margin: 0px auto; }
.con { width: 950px; height: 274px; background: #fff; margin: 27px auto; padding-left: 25px; padding-top: 25px; }
.con ul li { width: 297px; height: 198px; float: left; margin-right: 15px; margin-bottom: 15px; position: relative; overflow: hidden; cursor: pointer; }
.txt { width: 297px; height: 45px; background:#333; background: rgba(0,0,0,0.6);/*透明背景色，不透明其文字内容*/ position: absolute; left: 0; bottom: 0; color: #fff; font-family: "微软雅黑"; }
.txt h3 { font-size: 20px; font-weight: 100; height: 45px; text-align: center; line-height: 45px; }
.txt p { font-size: 14px; text-align: center; }
/* 效果CSS结束 */