<!--
 * @Descripttion: 
 * @version: 
 * @Author: yang_ft
 * @Date: 2019-12-18 16:17:48
 * @github: famensaodiseng
 * @LastEditTime : 2019-12-18 16:17:57
 -->
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id='app' v-cloak>
        <!-- <p>{{msg}}</p> -->

        用户名：<input type="text" placeholder="用户名" v-model="msg">
        <h1 v-text="msg"></h1>
        <br>
        密码：<input type="password" placeholder="密码" v-model="pwd">
        <h1 v-text="pwd"></h1>
    </div>
</body>
<script src='js/vue.js'></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            msg: '',
            pwd: '',
        }
    })
</script>

</html>