<!--
 * @Descripttion: 
 * @version: 
 * @Author: yang_ft
 * @Date: 2019-12-18 17:16:24
 * @github: famensaodiseng
 * @LastEditTime : 2019-12-18 17:16:35
 -->
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id='app' v-cloak>
        <p>{{msg}}</p>

        <form action="">
            用户名：<input type="text" v-model="uname" @keyup.delete="del">
            密码<input type="text" v-model="upwd" @keyup.enter="handler">
            <h3 v-text="uname"></h3>
            <h3 v-text="upwd"></h3>
            <input type="button" value="提交" @click="handler">
        </form>
    </div>
</body>
<script src='js/vue.js'></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            msg: '123',
            uname: '',
            upwd: ''
        },
        methods: {
            handler() {
                console.log(this.uname, this.upwd);

            },
            del() {
                this.uname = " "
            }

        }
    })
</script>

</html>