<!--
 * @Descripttion: 
 * @version: 
 * @Author: yang_ft
 * @Date: 2020-04-14 11:35:46
 * @github: famensaodiseng
 * @LastEditTime: 2020-04-14 20:05:43
 -->
<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
  <link rel="stylesheet" href="./js/bootstrap-3.3.7.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div id='app' v-cloak>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">甘肃月老</h3>
      </div>
      <div class="panel-body form-inline">
        <label class="" for="">
          <input type="" class="form-control" v-model="id">UID:
        </label>
        <br>
        <label class="" for="">
          <input type="" class="form-control" v-model="name" @keyup.enter="add">姓名
        </label>
        <br>
        <input type="button" value="添加" class="btn btn-primary" @click="add">
        <br>
        <br>
        <label class="" for="">
          <input type="text" class="form-control" v-model="keyword" v-focus v-color>
        </label>
        <input type="button" value="搜索" class="btn btn-primary" @click="search">
        <!-- 注意：vue中所有的指令，在调用的时候，都是以v-开头 -->
      </div>
    </div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>姓名</th>
          <th>性别</th>
          <th>年龄</th>
          <th>学历</th>
          <th>微信号</th>
          <th>时间</th>
          <th>是否删除</th>
        </tr>
      </thead>
      <tbody>
        <!-- 之前v-for中的数据，都是直接从data上的list中直接渲染过来的。
        现在我们自定义了一个search方法，同时，吧所有关键字，通过传参传递给了search方法 -->
        <tr v-for="item in search(keyword)" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.age}}</td>
          <td>{{item.education}}</td>
          <td>{{item.wechat}}</td>
          <td>{{item.ctime|dateFormat('')}}</td>
          <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</body>
<script src='js/vue.js'></script>
<script>
  // 定义全局指令 Vue.directive(),定义的时候不用加v- ，但是调用的时候必须加v-
  //参数2是一个对象，这个对象身上有一些相关的函数。
  Vue.directive('color', {
    //样式只要通过指令绑定给了。不管这个元素有没有被插入到页面中去。
    // 这个元素有了一个内联的样式。
    //将来元素肯定会显示到页面中。
    bind(el) {
      el.style.color = "red"
    }
  })
  Vue.directive('focus', {
    bind: function () {
      //每当指令绑定到元素上面的时候，就会执行这个函数，只执行一次。
      //注意，每一个函数中，第一个参数都是el.表示被绑定了的那个元素，这个el参数是一个原生对象
      //再元素刚绑定了指令的时候，还没有插入到dom中去，调用focus方法没有作用。
      //因为只有一个元素，插入dom之后才能获取焦点

    },
    inserted: function (el) {
      //表示元素插入到dom中的时候，会执行inserted，只能触发一次。
      //和行为有关的最好是在inserted中去执行，防止js不生效。
      el.focus()
    },
    updated: function () {
      //当VNode更新的时候，会执行updated.可能会触发多次
    },
  })





  //自定义全局按键修饰符
  Vue.config.keyCodes.f2 = 113    //这里的113 对应的是他的键盘码f2
  //全局的过滤器
  Vue.filter('dateFormat', function (dateStr, pattern = '') {
    var dt = new Date(dateStr)
    //根据给定的字符串，得到特定的时间
    //yyyy-mm-dd
    var y = dt.getFullYear()
    var m = dt.getMonth() + 1
    var d = dt.getDate()


    if (pattern.toLowerCase() === 'yyyy-mm-dd') {
      return `${y}-${m}-${d}`
    } else {
      var hh = dt.getHours()
      var mm = dt.getMinutes()
      var ss = dt.getSeconds()
      return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
    }
  })

  let vm = new Vue({
    el: '#app',
    data: {
      msg: '123',
      id: '',
      name: '',
      keyword: '',
      gender: '',
      age: '',
      wechat: '',
      list: [
        { id: 1, name: '张三', gender: '男', age: '32', education: '硕士', wechat: 'wx123', ctime: new Date() },
        { id: 2, name: '李四', gender: '男', age: '11', education: '硕士', wechat: 'wx123', ctime: new Date() },
        { id: 3, name: '王五', gender: '女', age: '43', education: '硕士', wechat: 'wx123', ctime: new Date() }
      ]
    },
    methods: {
      add() {
        // console.log('1');
        var car = { id: this.id, name: this.name, ctime: new Date() }
        this.list.push(car);
        this.id = this.name = ''
      },
      del(id) {
        this.list.some((item, i) => {
          if (item.id == id) {
            this.list.splice(i, 1)
            return true;
          }
        })
      },
      search(keyword) {
        return this.list.filter(item => {
          if (item.name.includes(keyword)) {
            return item
          }
        })
        // return newList
      }
    }
  })


  //过滤器的定义用法
  //Vue.filter('过滤器的名称', function () { })


</script>

</html>