<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.7.css">
    <script src='lib/vue-2.4.0.js'></script>
</head>
<body>
    <div id='app'> 
        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
              </div>
              <div class="panel-body form-inline">
                    <label for="input-id" >
                        Id:
                        <input type="text" name="" id="" class="form-control" v-model='id'>
                    </label>
                    <label for="input-id" >
                        Name:
                        <input type="text" name="" id="" class="form-control" v-model='name'>
                    </label>
                    <label for="input-id">
                        <input type="button" name="" id="" value='添加' class='btn-primary' @click='add'>
                    </label>
                    <label for="input-id">
                        搜索关键字：<input type="text" name="" id=" "   @click='search' v-model='keyword'>
                    </label>
              </div>
        </div>
    

        <table class='table table-bordered  table-hover table-striped'>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='item in search(keyword)' :key=item.id>
                    <td> {{ item.id }} </td>
                    <td> {{ item.name }} </td>
                    <td> {{ item.ctime }} </td>
                    <td> 
                        <a href="javascript:;" @click.prevent='del(item.id)'>删除</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
<script>
    var vm = new Vue({
    el: '#app',
    data: {
        id:'',
        name:'',
        keyword:'',
        list:[
            { id:1,name:'奔驰',ctime:new Date()},
            { id:2,name:'宾利',ctime:new Date()},
            { id:3,name:'劳斯拉斯',ctime:new Date()},
            { id:4,name:'野马',ctime:new Date()},
        ] 
    }, 
    methods: {
        add() {
            var car= {
                id:this.id,
                name : this.name,
                ctime:new Date()};
            this.list.push(car);
            // this.name = this.id = ""; 
        },
        del(id){
            this.list.some((item,i)=>{
                if(item.id == id){
                    this.list.splice(i,1);
                    return true;
                }
            })
        },
        search(keyword){
            var newList = [];
            this.list.forEach(item=>{
                if(item.name.indexOf(keyword) !=-1){
                    newList.push(item);
                }
            })
            return newList;
        }
    }
}) 
</script>
</body>
</html>