<!--
 * @Descripttion: 
 * @version: 
 * @Author: yang_ft
 * @Date: 2019-12-22 11:06:18
 * @github: famensaodiseng
 * @LastEditTime : 2019-12-22 11:17:27
 -->
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id='app' v-cloak>
        <p>{{msg}}</p>
        <menu-item :pstr="pstr" :pnum="12" :pboo=true :parr="parr"></menu-item>

        <ul v-for="(item,index) in parr" :key=item.index>
            <li>{{item}}</li>
        </ul>

        <ul v-for="(item,id) in pobj" :key=item.id>
            <li>{{item.id}}---{{item.name}}---{{item.age}}</li>
        </ul>

    </div>
</body>
<script src='js/vue.js'></script>
<script>
    Vue.component('menu-item', {
        props: ['pstr', 'pnum', 'pboo', 'parr', 'pobj'],
        template: `
            <div>
                <div>{{pstr}}</div>
                <div>{{pnum}}</div>
                <div>{{typeof pboo}}</div>
                
            </div>
        `
    })
    let vm = new Vue({
        el: '#app',
        data: {
            msg: '父组件的内容',
            pstr: 'hello',
            parr: [12, 32, 44, 67, 43],
            pobj: [
                { id: 1, name: 'zs', age: 23 },
                { id: 2, name: 'lisi', age: 23 },
                { id: 3, name: 'ww', age: 33 },
            ]
        }
    })
</script>

</html>