body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #666;
    line-height: 1.5;
    height: 2000px;
}
img {
    vertical-align: middle;
}
a {
    color:#666;
    text-decoration: none;
}
ul  {
    padding: 0;
    margin: 0;
    list-style: none;
}
.app {
    height: 45px;
}
.app ul li {
    height: 45px;
    background-color: #333;
    float: left;
    line-height: 45px;
    text-align: center;
    color: #fff;
}
.app ul li:nth-child(1){
    width: 8%;
   
}
.app ul li:nth-child(1) img {
    width: 10px;
   
}
.app ul li:nth-child(2) {
    width: 10%;
}
.app ul li:nth-child(2) img {
    vertical-align: middle;
    width: 30px;
}
.app ul li:nth-child(3) {
    width: 57%;
}
.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63517;
}

.search-wrap {
    height: 44px;
    position: fixed;
    overflow: hidden;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
}
.search-btn {
    top: 0;
    left: 0;
    /* background-color: pink; */
    width: 40px;
    height: 44px;
    position: absolute;
}
.search-btn::before {
    content:'';
    display: block;
    width: 20px;
    height: 20px;
    background:url(./images/s-btn.png) no-repeat;
    background-size: 20px 20px;
    margin: 14px  0 0 15px;
}
.search-login {
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    /* background-color:green; */
    position: absolute;
    color: #fff;
    line-height: 44px;
    text-align: center;
}
.search {
    height: 30px;
    background-color: #fff;
    margin: 0 50px;
    border-radius: 20px;
    margin-top: 7px;
    position: relative;
}
.jd-icon {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 13px;
    background: url(./images/jd.png) no-repeat;
    background-size: 20px 15px;
}
.jd-icon::after {
    content:"";
    display: block;
    position: absolute;
    right: -15px;
    top: 0;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}
.jd-icon::before {
    content: "";
    display: block;
    position: absolute;
    right: -50px;
    top: 0;
    width: 20px;
    height: 15px;
    background: url(./images/jd-sprites.png) no-repeat -81px 0;
    background-size: 200px auto;
}
.slider img{
    width: 100%;
}
.brand {
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
    
}
.brand div {
    width: 33.33%;
    float: left;
}
.brand div img {
    width: 100%;
}
nav {
    margin-top: 5px;
}
nav a {
    float: left;
    width: 20%;
    text-align: center;
}
nav a img {
    width: 40px;
    margin: 10px 0;
    text-align: center;
}
nav a span {
    display: block;
}

.news {
    margin-top: 30px;
}
.news a {
    float: left;
}
.news img {
    width: 100%;
}
.news a:nth-child(1){
    width: 50%;
}
.news a:nth-child(2) {
    width: 25%;
}
.news a:nth-child(3) {
    width: 25%;
}
