body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #f2f2f2;
    color: #fff;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
/* 搜索模块 */
.search-index {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    transform: translateX(-50%);
    background-color: pink;
}