<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
</head>
<body>
    <div id='app'>
       数值1: <input type="text" v-model="a"> <br>  
       数值2: <input type="text" v-model="b"> <br>

       求和：<button @click="res">=</button> <br>
       值： <span v-text="result"></span>
    </div>
</body>
<script src = 'js/vue.js'></script>
<script>
    let vm = new Vue({
        el:'#app',
        data: {
            a: '',
            b:'',
            result:''
        },
        methods:{
            res:function(){
               this.result =  parseInt(this.a)+parseInt(this.b);
            }
        }
    })
</script>
</html>