/*
杨方涛：2017年5月10日于西安
QQ；58267980
*/

.header {
	padding-top: 10px;
}

.header .logo {
	 position: relative;
}

.header .logo a {
	 width: 170px;
	 height: 60px;
	 display: inline-block;
	 background: url(../images/logo.png) no-repeat;
	 text-indent: -2000px;
	 float: left;
}

.header .logo b {
	 width: 110px;
	 height: 40px;
	 display: inline-block;
	 background: url(../images/l-icon.png) no-repeat;
	 float: left;
	 position: absolute;
	 top: 10px;
	 left: 200px;
}

/* 主体登录部分 */
.mainlogin {
	 margin-top: 10px;
	 background-color: #3CBD58;
	 height: 475px;
}
.mainlogin .w {
	 height: 475px;
	 background: url(../images/bg.jpg) no-repeat;
	 position: relative;
}

.login {
	 width: 346px;
	 height: 370px;
	 background-color: #FFFFFF;
	 position: absolute;
	 right: 0;
	 top: 40px;
}

.userlogin {
	 height: 54px;
	 border-bottom: #F4F4F4 1px solid;
}

.llogin {
	 float: left;
}
.llogin a{
	height: 54px;
	width: 171px;
	display: inline-block;
	line-height: 54px;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}

.line {
	 width: 1px;
	 height: 20px;
	 background-color: #F4F4F4;
	 float: left;
	 margin-top: 18px;
}

.rlogin {
	 float: left;
}

.rlogin a {
	height: 54px;
	width: 171px;
	display: inline-block;
	line-height: 54px;
	font-size: 20px;
	text-align: center;
	color: #E4393C;
	font-weight: 700;
}


/* 提示 */
.tips {
	width: 264px;
	height: 24px;
	background-color: #FFF6D2;
	border:  1px solid #FFE57D;
	margin-top: 9px;
	margin-left: 20px;
	line-height: 24px;
	padding-left: 40px;
	position: relative;
}

.tips i {
	 width: 13px;
	 height: 16px;
	 display: inline-block;
	 background: url(../images/pwd-icons-new.png) no-repeat -104px -23px;
	 position: absolute;
	 left: 18px;
	 top:  4px;
}

/* 用户名 */
.username,.pwd {

	 border:  1px solid #BDBDBD;
	 margin-top: 10px;
	 margin-bottom: 20px;
	 margin-left: 20px;
	 margin-right: 20px;
	 position: relative;
}



.username label {
	 width: 38px;
	 height: 38px;
	 background-color: #F3F3F3;
	 display: inline-block;
	 float: left;
	 border-right: 1px solid #BDBDBD;
	 background: url(../images/pwd-icons-new.png) no-repeat;
}
.username input,.pwd input {
	 float: left;
	 height: 38px;
	 padding-left: 11px;
	 color: #767676;
	 border-style: none;
	 padding-right:85px;
}

.username i,.pwd i {
	 width: 13px;
	 height: 13px;
	 display: block;
	 background: url(../images/pwd-icons-new.png) no-repeat -104px 0;
	 position: absolute;
	 right: 10px;
	 top: 12px;
	 cursor: pointer;
}

.pwd label {
	 width: 38px;
	 height: 38px;
	 background-color: #F3F3F3;
	 display: inline-block;
	 float: left;
	 border-right: 1px solid #BDBDBD;
	 background: url(../images/pwd-icons-new.png) no-repeat -48px 0;
}


/* 自动登录 */
.autologin {
	 margin-left: 20px;
}

.autologin input {
	 vertical-align: middle;
}

.autologin a {
	 float: right;
	 margin-right: 20px;
}
.autologin a:hover {
	 text-decoration: underline;
}


/* 登录 */
.login-btn {
	 border:  1px solid #CB2A2D;
	 width: 304px;
	 margin-top: 15px;
	 margin-left: 20px;
	 line-height: 33px;
	 text-align: center;
}

.login-btn a {
	 width:  304px;
	 height: 33px;
	 background-color: #E4393C;
	 display: block;
	 color: #fff;
	 font-size: 20px;
	 word-spacing: 1em;
}


/* 链接 */
.links {
	 height: 50px;
	 border-top: 1px solid #F4F4F4;
	 background-color: #FCFCFC;
	 margin-top: 30px;
	 line-height: 50px;
	 padding-left: 20px;
}

.links a{
	 padding:  0 15px;
}

.links .register {
	 float: right;
	 margin-right: 25px;
	 position: relative;
}
.links .register:hover {
	 text-decoration: underline;
}

.links .register i {
	 width: 16px;
	 height: 16px;
	 display: block;
	 background: url(../images/pwd-icons-new.png) no-repeat -104px -75px;
	 position: absolute;
	 left: -6px;
	 top:  17px;
}


/* 结尾部分开始 */
.footer {
	 text-align: center;
	 margin-top: 20px;
}

.footer p {
	 margin-top: 10px;
}