/*
* @Author: yangfangtao
* @Date:   2018-05-13 20:41:54
* @Last Modified by:   yangfangtao
* @Last Modified time: 2018-05-15 18:59:38
*/
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
body {
	background-color: #f3f3f7;
	/*height: 3000px;*/
}
.clearfix:before,.clearfix:after {
	display: table;
	content: "";
}
.clearfix:after {
	clear:both;
}
.clearfix {
	*zoom:1;
}
a {
	text-decoration: none;
	color: #050505;
}
/*页面头部*/
header {
	height: 100px;
	/*background-color: pink; */
	overflow: hidden;/*给父亲加一个*/	
}
nav {
	width: 1200px;
	height: 42px;
	/*background-color: red;*/
	margin: 30px auto 0;
	/*padding: 30px;*/
	
}
.logo {
	float: left;
}
.navbar {
	float:left;
	height: 42px;
	line-height: 42px;
	margin-left: 20px;
}
.navbar li {
	float: left;
	margin:0 20px ;
}
.navbar li a {
	padding: 0 8px;
}
.navbar li a:hover {
	border-bottom: 2px solid green;
}
.search {
	width: 410px;
	height: 38px;
	border: 1px solid #00a4ff;
	float: right;
}
.search .text {
	width: 360px;
	height: 38px;
	padding-left: 5px;
	color: gray;
}
.search input[type=submit] {
	width: 50px;
	height: 38px;
	background:#00a4ff url(images/search_06.png) no-repeat center center;
	float: right;
}
input {
	border: 0;
	box-sizing: border-box;
	outline:none;
}
.personal {
	 float: right;
	 line-height: 42px;
	 margin-left: 20px;
}
.personal img {
	margin: 0  10px;
	vertical-align: middle; 
}
.banner {
	height: 420px;
	background: #1c036c url(images/banner_03.png) no-repeat ;
}
.w {
	width: 1200px;
	margin: 0 auto;
}
.banner-in{
	/*width: 1300px;*/
	position: relative;
	
}
.sliderbar {
	height: 420px;
	width: 190px;
	background: rgba(0,0,0,0.4);
	float: left;	
}
.sliderbar li a{
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	padding: 0 20px;
	display: block;
	line-height: 45px;
}
.sliderbar li a span {
	float: right;
}
.sliderbar li a:hover{
	color: #00a4ff;
}
.timetable {
	float: right;
	width: 230px;
	height: 300px;
	background-color: #fff;
	margin-top: 50px;
}
.timetable dt{
	height: 50px;
	background-color:  #9bceaa;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 5px;
}
.timetable dd{
	width: 193px;
	height: 60px;
	background-color: #fff;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-top: 15px;	
	box-sizing: border-box;/*盒子*/
}
.timetable dd h4 {
	font-size: 16px;
	font-weight: normal;
	color: #4e4e4e;
}
.timetable dd  span {
	font-size: 14px;
	color: #a5a5a5;
}
.timetable dd:last-child {
	border: 0;
} 
.timetable dd h2 {
	border: 1px solid #00a4ff;
	font-weight: normal;	
	font-size: 18px;
	text-align: center;
	padding: 5px;
}
.recommend {
	height: 60px;
	background-color: #fff;
	margin-top: 8px;
	box-shadow: 0  2px 2px rgba(0,0,0,.4);
}
.recommend li {
	float: left;
	margin: 0 20px;
	line-height: 60px;

}
.recommend span {
	margin-left: 10px;
	color: gray;	
}
.recommend li:first-child {
	color: blue;
}
.recommend .sa {
	display: block;
	float: right;
	margin-right: 60px;
	line-height: 60px;
	color: blue;
}
.recom-products  h4{
	display: inline-block;
	margin-top: 20px;
}
.recom-products a{
	margin-top: 20px;
	float: right;
}
.recom-bd ul li  {
	width: 228px;
	height: 270px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 8px 6px 7px rgba(0,0,2,.4);
	float: left;
	margin-right: 15px;
	margin-top: 15px;
}
.recom-bd ul li:nth-child(5n) {
	margin-right: 0;
}
/*.recom-bd ul li:hover {
	padding-top: 5px;
}*/
.recom-bd ul li h4,p {
	font-weight: 700;
	margin: 10px;
}
.recom-bd ul li span {
	color: red;
}
footer {
	height: 270px;
	background-color: pink;
	margin-top: 100px;
}
.footer-in {
	padding-top: 30px;
}
footer p {
	width: 440px;
	font-size: 12px;
	color: gray;
	margin-top: 40px;	
}
footer h4{
	display: inline-block;
	font-size: 14px;
	border: 2px solid blue;
	padding: 6px 20px;
	margin-left: 25px;	
}
.footer-l {
	float: left;
}
footer .footer-r {
	float: right;
}
footer .footer-r dt {
	font-size: 16px;
	height: 30px;
	
}
footer .footer-r dd {
	font-size: 12px;
	height: 20px;
}
footer .footer-r dl{
	float: left;
	width: 226px;
}
 .banner-in .yuan {
	width: 120px;
	height: 20px;
	/*background-color: pink;*/
	position: absolute;
	right: 50%;
	bottom: -390px;
	float: left;
}

.banner-in .yuan li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	float: left;
	background-color:yellow;
	margin-left: 5px;
}