<!--
 * @Descripttion: 
 * @version: 
 * @Author: yang_ft
 * @Date: 2019-12-21 19:25:02
 * @github: famensaodiseng
 * @LastEditTime : 2019-12-21 19:34:29
 -->
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id='app' v-cloak>
        姓：<input type="text" v-model="yang">
        名<input type="text" v-model="ft">
        <div>{{result}}</div>
    </div>
</body>
<script src='js/vue.js'></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            msg: '123',
            yang: '',
            ft: ''
            // result: 'yang ft'
        },
        // 通过watch监听变化
        // watch: {
        //     yang(val) {
        //         this.result = val + ' ' + this.ft
        //     },
        //     ft(val) {
        //         this.result = this.yang + ' ' + val
        //     }
        // },
        computed: {
            result() {
                return this.yang + ' ' + this.ft
            }
        }
    })
</script>

</html>