/*
* @Author: yang fangtao
* @Date:   2018-07-26 10:21:07
* @Last Modified by:   famensaodiseng
* @Last Modified time: 2018-07-27 23:03:24
*/
.section1 {
	background:#fadd67 url(../images/t1fpyqfltdxxaiulhh-990-600.png) no-repeat center bottom
}
.fly {
	position: absolute;
	right: 20%;
	top: 10%;
	}
.shirt01 {
	position: absolute;
	left: 50%;
	margin-left: -200px;
	bottom: 335px;
}
.goods {
	position: absolute;
	left: 50%;
	margin-left: -400px;
	bottom: 100px;
}
.section2 {
	background: #84a2d4 url(../images/t1zdgpfi8exxca6rfn-2000-600.png) no-repeat center bottom;
}
.computer {
	width: 990px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
.search {
	width: 222px;
	height: 49px;
	background: url('../images/search.png');
	right: 0;
	bottom: 300px;
	position: absolute;
}
.section3 {
	background: #ef674d;
}
.section4 {
	background: #fed url(../images/t1iresfnxaxxca6rfn-2000-600.png) no-repeat center bottom;
}
.section5 {
	background: #d04759 url(../images/t1yisqfa4exxa3gmkg-2000-1500.png);
}
.section6 {
	background: #84d9ed url(../images/t1dvj.fn0gxxb0_fua-2500-600.png) no-repeat 25% 100%;
}
.section7 {
	background: #8ac060 url(../images/t1wf1tfctaxxa3gmkg-2000-1500.png) no-repeat 50% 100%;
}
.section8 {
	background:url(../images/ksgw.png);
}
.go {
	position: fixed;
	top: 5%;
	right: 5%;
	z-index: 999;
}
/* 动画组 */
.updown {
	animation: fly 3s linear infinite;
}
.shirt-updown {
	animation: shirt01 2.5s linear infinite;
}
@keyframes fly {
	0% {
		top: 10%;
	}
	50% {
		top: 25%;
	}
	100% {
		top: 10%;
	}
}
@keyframes shirt01 {
	0% {
		bottom: 335px;
	}
	50% {
		bottom: 369px;
	}
	100% {
		bottom: 335px;
	}
}







