<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myApp" ng-controller="caclController">
<input type="text" ng-model="A">+
<input type="text" ng-model="B">
<button ng-click="add()">=</button>
<input type="text" ng-model='result'>
</body>
<script src = "angular.js"></script>
<script>
    var app = angular.module('myApp',[])
    app.controller('caclController',function ($scope) {
    $scope.A=0
    $scope.B=0
    $scope.result=0
    //初始化行为模型
        $scope.add=function () {
            $scope.result=($scope.A-0)+($scope.B-0)
        }
    });
</script>
</html>