<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册案例</title>
</head>
<body ng-app="myApp">
    <!--view开始，就是html代码这块-->
    <table ng-controller="demoController">
        <tr><td>用户名: <input type="text" ng-model="username"></td></tr>
        <tr><td>用户类型: <input type="text" ng-model="usertype"></td></tr>
        <tr><td>密码:<input type="text" ng-model="userpwd"></td></tr>
        <tr><td>确认密码: <input type="text" ng-model="conpwd"></td></tr>
        <tr><td>注册协议：<input type="checkbox" ng-model="isagree"></td></tr>
        <tr><td><input type="button" value="注册" ng-click="register()"></td></tr>
        <tr><td>{{msg}}</td></tr>
    </table>
</body>
<script src = "angular.js"></script>
<script>
    //创建模块
    var app =angular.module('myApp',[])

//    Controller开始
    //创建控制器
    app.controller('demoController',function($scope)  {
        //初始化数据模型
        $scope.username= "" //用户名不能少于6位
        $scope.usertype=""
        $scope.userpwd=""   //密码不能少于6位
        $scope.conpwd=''//确认密码要和密码一致
        $scope.isagree=false
        $scope.msg=''
        //初始化我们的行为模型
        $scope.register=function() {
           if($scope.username.length<6){
//               alert('用户名太短')
                $scope.msg="用户名太短"
               return
           }
           if($scope.userpwd.length<6){
               $scope.msg="密码太短，不安全"
               return
           }
           if($scope.userpwd!==$scope.conpwd){
                $scope.msg="输入的密码不一致，请重新输入"
            }
            $scope.msg="恭喜你获得500万"
            var u =new User($scope.username,$scope.userpwd,$scope.usertype)
//            我们希望得到一个返回值，表明是否注册成功
            var result=u.save()
            if(result){
               $scope.msg= '注册成功！'
            }else{
                $scope.msg="注册失败！"
            }
        }
    })
    //    Controller结束
  //  model开始
    function User(name,pwd,type) {
    this.name=name
    this.pwd=pwd
    this.type=type
    }
    User.prototype.save=function () {
//        判断用户名是否存在
        //如果存在，则返回一个false表明注册失败。如果不返回，要把数据保存起来

//        localStorage.setItem('','')
    var str= localStorage.getItem('myusers')||'[]'
    var arr =JSON.parse(str)
    for (var i=0;i<arr.length;i++){
        if(arr[i].name===this.name){
            return
        }
    }
    arr.push({name:this.name,pwd:this.pwd,type:this.type})
        localStorage.setItem('myusers',JSON.stringify(arr))
        return true
    }
</script>
</html>