/*
* @Author: yangfangtao
* @Date:   2017-12-30 01:29:41
* @Last Modified by:   yangfangtao
* @Last Modified time: 2017-12-30 02:56:10
*/
html,body,ul,li,img,p,a,div,form,input{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-top-highlight-color:transparent;
}
body{
	font-family: "微软雅黑",sans-serif;
	font-size: 13px;
}
a{
	text-decoration: none;
	color:#666;
}
ul{
	list-style: none;
}
input {
	outline: none;
	border: none;
	border: 1px solid #ccc;
}

/*添加新样式*/
.f_left{
	float: left;
}
.f_right{
	float: right;
}
.m_left10{
	margin-left: 10px;
}
.m_right10{
	margin-right: 10px;
}
.m_top10{
	margin-top: 10px;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.clearfix::before,
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	line-height: 0px;
	clear:both;
	visibility: hidden;
}










