/*
* @Author: yangfangtao
* @Date:   2017-12-30 01:30:00
* @Last Modified by:   yangfangtao
* @Last Modified time: 2017-12-30 15:54:07
*/
.jd_layout{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	background-color: #eee;
	margin: 0 auto;
}
.jd_search{
	width: 100%;
	max-width: 640px;
	height: 40px;
	position: fixed;
	background: #e92322;
	z-index: 999;
}
.jd_logo {
	width: 56px;
	height: 30px;
	position: absolute;
	left: 10px;
	top: 5px;
	background-image: url(../images/jd-sprites.png);
	background-size: 200px 200px;
	background-position: 0px -108px;
}
.jd_login {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	color:#fff;
}
.jd_searchBox {
	width: 100%;
	height: 100%;
	padding-left: 76px;
	padding-right: 50px;
	position: relative;
}
.jd_searchBox > input {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	border-radius: 15px;
	padding-left: 30px;
	color:#666;
}
/*使用微元素添加放大镜*/
.jd_searchBox::before {
	content:'';
	width: 27px;
	height: 23px;
	position: absolute;
	background-image: url(../images/jd-sprites.png);
	background-size: 200px 200px;
	background-position: -56px -108px;
	left: 80px;
	top: 10px;
}
/*轮播图*/
.jd_banner {
	width: 100%;
	overflow: hidden;
	position: relative;
	/*vertical-align: middle;*/
}
.jd_bannerImg{
	width: 800%;

}
.jd_bannerImg > li{
	width: 12.5%;
	float: left;
}
.jd_bannerImg > li img {
	width: 100%;
	vertical-align: bottom;
}
.jd_bannerIndicator {
	width: 128px;
	height: 10px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}
.jd_bannerIndicator li {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	border: 1px solid #fff;
	float: left;
	margin-left: 10px;
}
.jd_bannerIndicator > li:first-of-type{
	margin-left: 0;
}
.jd_bannerIndicator > li.active{
	background-color: #fff; 
}
.jd_nav{
	width: 100%;
	padding: 10px 0;
	background: #fff;
}
.jd_nav li {
	float: left;
	width: 25%;
	text-align: center;
	margin-top: 5px;
}
.jd_nav li img {
	width: 50px;
}
.jd_nav li  p{
	line-height: 25px;
}
/*产品块*/
.jd_product {
	width: 100%;
}
.jd_productBox{
	width: 100%;
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 1px 1px 1px #ccc;
}
.jd_productBox  > .jd_pTip{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    color: #666;
}
.jd_productBox  > .jd_pTip > h3{
    position: relative;
    padding-left: 30px;
}
.jd_productBox  > .jd_pTip > h3::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #e92322;
    left: 20px;
    top: 8px;
}
/*产品块图片*/
.a_50 {
	width: 50%;
	display: block;
}
.a_50 >img {
	width: 100%;
	display: block;
}
.b_left{
	border-left:1px solid #ccc;
}
.b_bottom {
	border-bottom:1px solid #ccc;
}
.b_right {
	border-right: 1px solid #ccc;
}

